
#sidebar {
    width: 22rem;
    background-color: #f7f7f7;
    border-right: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

#detail{
    flex: 1;
    padding: 2rem 4rem;
    width: 100%;
}

#wrapper {
    display: flex;
    grid-template-columns: 1fr 3fr;
}
